@mixin font($fw, $fs, $ln) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $ln;
}
.tools__section {
    background-color: #1E252B;
    margin-bottom: 200px;
    width: 1440px;
    padding-right: 108px;
    padding-left: 108px;
}
.tools__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    gap: 25px;
}
.tools__item {
    flex-basis: calc((100% - 3 * 25px) / 3);
    padding: 33px;
    border-radius: 15px;
    
    // // &:nth-child(1) {
    // //     margin-right: 25px;
    // // }
    // &:nth-child(-n + 3) {
    //     margin-bottom: 106px;
    // }
    // &:nth-child(3n + 3) {
    //     margin-right: 0;
    // }
    // &:nth-child(n + 4) {
    //     margin-bottom: 0;
    // }
    &:hover,
    &:focus {
        background-color: #283036;
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
        .tools__subtitle {
            color: rgba(255, 255, 255, 0.9);
        }
        .tools__name {
            color: #FFA537;
        }
        .tools__subtext {
            color: rgba(255, 255, 255, 0.78);
        }
        .tools__button-visit {
            background-color: #FF6E30;
            color: #ffffff;
            cursor: pointer;
        }
        .folder {
            background-color: #283036;
            fill: rgba(255, 255, 255, 0.55);
        }
        .heart {
            background-color: #283036;
            fill: #FD3B41;
        }
    }
}
.tools__title {
    @include font(500, 48px, 1.3);
    text-align: center;
    color: rgba(255, 255, 255, 0.9);

    margin-bottom: 25px;
}
.tools__text {
    display: block;
    min-width: 427px;
    margin-bottom: 84px;

    @include font(500, 18px, 1.67);
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
}
.tools__main-part {
    display: flex;
    align-items: center;
}
.tools__link {
    margin-right: 30px;
}
.tools__subtitle {
    @include font(500, 24px, 1.5);
    color: rgba(255, 255, 255, 0.78);

    margin-bottom: 3px;
}

.tools__name {
    @include font(400, 18px, 1.5);
    color: rgba(255, 165, 55, 0.55);;

    margin-bottom: 30px;
}

.tools__subtext {
    @include font(400, 16px, 1.88);
    color: rgba(255, 255, 255, 0.55);

    margin-bottom: 30px;
}
.like-link {
    margin-right: 12px;
}
.tools__button-visit {
    @include font(600, 16px, 1.5);
    color: rgba(255, 255, 255, 0.55);
    background-color: transparent;
    border: none;
    padding: 9px 35px;
    border-radius: 8px;
}
.tools__interaction-part {
    display: flex;
    justify-content: space-between;
}
.tools__button-loadmore {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 17px 38px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @include font(500, 20px, 1.5);
    color: #FF6E30;

    &:hover,
    &:focus {
        background-color: #283036;
        cursor: pointer;
    }
}