$primary-text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$secondary-accent-color: #188ce8;
$primary-background-color: #ffffff;
$secondary-background-color: #2f303a;
$button-background-color: #f5f4fa;
$section-background-color: #f5f4fa;
$hero-background-color: rgba(47, 48, 58, 0.4);
$input-field-color: #afb1b8;
$logo-color: #000000;
$portfolio-item-border-color: #eeeeee;
$header-border-bottom-color: #ececec;
$client-logo-color: #afb1b8;
$logo-font-family: Raleway, sans-serif;
$secondary-letter-spacing: 0.06em;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);